extends layout

mixin currentGames(id, action)
    button.btn.btn-success.btn-sm.btn-block( id=id onclick=action) Game #{id}

mixin viewGames(id, action)
    button.btn.btn-warning.btn-sm.btn-block( id=id onclick=action) Game #{id}

block content
    div( align='center' )
        a(href='/')
            img( src='/images/chesslogo.jpg' width="150vw" height="100vw")
    br
    div
        a(class='btn btn-success btn-sm btn-block', href='api/createGame') Create Game
    br
    div
        p.font-weight-bold( align='center') Current Games

    br
    div( id = 'current-games' )

    br
    div
        p.font-weight-bold( align='center')  View Games
    br
    div( id='view-games')
        +viewGames("4", "#")
        +viewGames("5", "#")
        +viewGames("6", "#")
    br
    div
        button.btn.btn-secondary.btn-sm.btn-block(id="scoreboardButton" onclick="window.open('/scoreboard','_top')") Scoreboard
    br
    div
        button.btn.btn-danger.btn-sm.btn-block(id="quitButton" onclick="window.open('/logout', '_top')") Quit Game
    br
    div
        button.btn.btn-outline-dark.btn-sm.btn-block(id="rulesButton" onclick="window.open('/rules','_top')") Rules
    br
    div
        button.btn.btn-outline-danger.btn-sm.btn-block(id="signOutButton" onclick="window.open('/logout', '_top')") Sign Out

block scripts
    script(src="/listGames.js" type="module")
        